/*--------------------------------------------------------------
main
--------------------------------------------------------------*/

.main {
  height: 100vh;
  padding-left: 22rem;
  padding-right: 6rem;
  padding-top: 6rem;
  background-color: rgb(230, 230, 230);
}

@media (max-width: 414px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }

  .chartContainer {
    flex-direction: column;
  }

  .chart {
    margin-right: 0!important;
    margin-bottom: 2rem;
  }

  .card.card-dashboard {
    margin: 0;
  }

  #devicesTable {
    display: none;
  }

  #pageNumberContainer {
    display: none;
  }
}

.search-bar h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.search-bar form {
  margin: 0;
}

.card.card-dashboard {
  height: 300px;
  box-shadow: none;
}

.chart {
  background-color: white;
  margin-right: 2rem;
}

