
/*--------------------------------------------------------------
general
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

table tfoot th:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

/* td {
    width: 300px;
}

td+td {
    width: auto;
} */

td, th {
    padding: 8px;
    border:none;
}

tr {
    background-color: white;
}

tr:hover {
    background-color: #ddd;
}

td {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

th {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

input {
    background-color: rgba(243, 200, 207, 0.253);
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    padding: 1rem;
    width: 300px;
    border:none;
    border-radius: 3px;
}

input:focus {
    outline:none;
}

.btn-submit {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    margin-top:0.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color:white;
    background-color: rgb(235, 166, 54);
    border:none;
    border-radius: 10px;
    box-shadow: -1px 5px 10px rgb(80, 80, 80);
}

.btn-submit:hover {
    background-color: rgb(182, 117, 12);
}

.btn-rounded {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1.3rem;
    color:white;
    background-color: rgb(49, 177, 236);
    border:none;
    border-radius: 50%;
    box-shadow: -1px 5px 10px rgb(80, 80, 80);
}

.btn-rounded:hover {
    background-color: rgb(38, 109, 241);
}

li.active {
    background-color: aqua;
}


article, aside, figcaption, figure, footer, menu, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}


/*--------------------------------------------------------------
dependencies
--------------------------------------------------------------*/
.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align:center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
}

.col-lg-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    flex: 0 0 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.rounded_circle {
    border-radius: 50%;
}

.img_fluid {
    max-width: 100%;
    height: auto;
}

.text-light {
    color: #ececec;
}

.text-center {
    text-align: center;
}

.break-word {
    overflow-wrap: break-word;
}

/*--------------------------------------------------------------
card
--------------------------------------------------------------*/
.card > * {
    font-family: 'Oswald', sans-serif;    
}

.card {
    margin: auto auto;
    padding: 1rem 4rem 1rem 4rem;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: -1px 5px 10px rgb(80, 80, 80);
}

.card h2 {
    color: rgb(126, 68, 42);
    margin-bottom: 2rem;
}

.card input {
    width: 300px;
}

@media (max-width: 414px) {
    .card input {
        width: 200px;
    }
    .card button {
        max-height: 50px;
    }
}


.card a {
    margin: auto 1rem;
    color:rgb(0, 162, 255);
}

/*--------------------------------------------------------------
menus
--------------------------------------------------------------*/
.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16rem;
    padding: 1rem;
    overflow-y: hidden;
    z-index: 1;
    background-color: white;
    transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.5s;
    box-shadow: -1px 5px 10px rgb(80, 80, 80);
}

.menu a {
    color: rgb(252, 242, 224);
    line-height: 200%;
    text-decoration: None;
    padding: 8px;
    transition: 0.3s;
}

.menu.responsive {
    left:0;
}

@media (max-width: 800px) {
    .menu {
        left: -16rem;
        padding: 0;
    }
}



/* nav header */
.nav-header * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    list-style: none;
}

.nav-header > ul > li {
    position: relative;
}

.nav-header a {
    padding: 4px 15px;
    margin-top: 8px;
    color: rgb(26, 24, 24);
}

.nav-header a i {
    font-size: 1.5rem;
}




/* nav menu */
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
}

.nav-menu a {
    padding: 4px 15px;
    margin-top: 8px;
    color: rgb(26, 24, 24);
}

.nav-menu .active a i {
    color: rgb(0, 156, 228);
}

.nav-menu a {
    transition: 0.3s;
}

.nav-menu a:hover {
    color: rgb(0, 156, 228);
}

.nav-menu a i {
    font-size: 1.5rem;
}

.nav-menu a span {
    padding-left: 0.5rem;
}

.nav-top a:hover {
    color: black;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 16rem;
    right: 0;
    height: 3rem;
    z-index: -1;
    /* background-color:#effdff;     */
    background-color: white;
    color:white;
}

.header > li {
    height: 100%;
    float:right;
}

.header a i {
    font-size: 2rem;
}

.header a span {
    font-size:1.2rem;
}

.header a {
    height: 100%;
    margin: 0;
}

.header a:hover {
    color: black;
}

@media (max-width: 414px) {
    .header {
        left: 0;
        height: 6rem;
        position:relative;
        background-color:white;
        display:flex;
        align-items: center;
    }

    .header a {
        flex-direction: column;
    }

    .header li {
        width: 100%;
    }

    .nav-top {
        display: none;
    }
}




/* show nav */
.nav-show {
    margin:0;
    display:none;
}

.nav-show li {
    margin:0;
}

.nav-show a {
    margin:0;
}

@media (max-width: 414px) {
    .nav-show {
        display:block;
    }
}




